name: Dotnet CI

on:
  push:
    branches:
      - "*"
      - "*/*"

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!(contains(github.actor, 'process-engine-ci') || contains(github.actor, 'admin'))"

    steps:
    - uses: actions/checkout@v1

    - name: 'Install Dependencies'
      working-directory: ./dotnet
      run: npm i

    - name: 'Prepare Version'
      working-directory: ./dotnet
      id: prepare_version
      run: |
        dotnet --version
        dotnet restore src
        echo "##[set-output name=version;]$(node dotnet-version.js get-package-version)"

    - name: 'Show Version'
      run: echo $VERSION
      env:
        VERSION: ${{ steps.prepare_version.outputs.version }}

    - name: 'Get Escaped Branch Name'
      if: !contains(github.ref, 'master')
      id: escaped_branch
      run: echo "##[set-output name=escaped_branch;]$(BRANCH=$BRANCH node --print --eval "process.env.BRANCH.replace('/', '-').replace('_', '-')")"
      env:
        BRANCH: ${{ github.ref }}


    - name: 'Show Escaped Branch'
      run: echo $BRANCH
      env:
        BRANCH: ${{ steps.escaped_branch.outputs.escaped_branch }}
  #  - name: 'Set Package Version'
  #    if: !contains(github.ref, 'master')
  #    run: echo $VERSION
  #    env:
  #      VERSION: ${{ steps.prepare_version.outputs.version }}
